<form ng-show="auth.rights >= 0">
	<div class="form-group">
		<textarea class="form-control validate" rows="3" placeholder="Your Message" id="msg" ng-model="commentData.content"></textarea>
	</div>
	<div>
		<div class="btn-field"> <button type="button" class="btn btn-primary" ng-click="sendComment(prod.id, commentData.content, commentData.bug, prod);commentData.content=''">Send</button> <label class="margin-left-20 pointer"><input type="checkbox" value="" ng-model="commentData.bug"> As bug report</label></div> 
	</div>
</form>
<hr>
<div ng-show="!comments.length" class="text-muted text-center">No comments...</div>
<div ng-repeat="comment in comments" class="comment" ng-show="comments.length" ng-class="{'bug': comment.bug==1}">
	<div class="small text-muted"><img src="img/bug.svg" class="icon-bug" ng-show="comment.bug==1"><a ng-href="#/user/{{comment.user}}">{{comment.user}}</a><span class="date">{{tm(comment.date)}} </span></div>
	<div class="txt"><img ng-src="{{comment.avatar}}" class="comment-avatar"><pre ng-bind-html="comment.comment"></pre></div>	
	<div class="text-right" ng-show="auth.user == comment.user || auth.rights > 0"><a href="" ng-click="delComment(comment.id, prod.id)">Delete</a></div>
</div>
