<div class="card col-xxs-12 col-xs-12 resp">

	<div class="card-content col-xxs-12 col-xs-12 disable-hover-xxs">
		<div class="text-center margin-bottom-5 relative"> <a ng-href="#/{{prod.productpage}}/{{prod.id}}"><img ng-src="{{getProdImages(prod.previews, 1, true)}}" class="text-center col-xxs-12"></a>					
			<button type="button" class="btn btn-default custom-button-gray button-fixed button-zoom" ng-click="hideShowLightBox(true, prod.previews)"> &nbsp;&nbsp;</button>
			<a href="admin/#/models-edit/{{prod.id}}/1" class="btn btn-default btn-danger button-fixed button-admin-edit" uib-tooltip="Edit" ng-show="auth.rights>=1"> &nbsp;&nbsp;</a> 
				<button type="button" class="btn button-fixed button-admin-pending" ng-class="{'btn-warning': prod.pending == 1, 'btn-success': prod.pending != 1}" ng-show="auth.rights > 0" ng-click="checkPending(prod.id)" uib-tooltip="Pending"> &nbsp;&nbsp;</button>
			<button ng-show="collectionid" type="button" class="btn btn-danger button-fixed button-fav-item-delete" ng-click="favDelCollectionItem(collectionid, prod.id, prod.name)" uib-tooltip="Delete"> &nbsp;&nbsp;</button>					
			</div>					
		<div class="text-center capitalize card-title">{{prod.name}}</div>
		<div class="">
			<div class="text-left"><small><strong>Render</strong>: {{prod.render}}</small></div>
			<div class="text-left margin-bottom-5"><small><strong>Format:</strong> {{prod.format}}</small></div>

			<table width="100%" border="0">
				<tr>
					<td><div class="btn-group dropup btn-block margin-0" tooltip-placement="right" ng-show="auth.browser=='MXS'">
							<button type="button" class="btn btn-primary" style="width: 80.5%"  ng-click="placeModel(prod.id)"> 
								{{placename}} 
							</button>
							<button type="button" class="btn btn-primary dropdown-toggle width-20" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
							<ul class="dropdown-menu width-100" aria-labelledby="dropdownMenu1">										
								<li><a href="" ng-click="changePlace(2)" >Open Model</a></li>
								<li><a href="" ng-click="changePlace(1)" >X-Ref Model</a></li>
								<li><a href="" ng-click="changePlace(0)" >Merge Model</a></li>
							</ul>
						</div>
						
						<a ng-href="#/{{prod.productpage}}/{{prod.id}}" class="btn-primary btn btn-block margin-0" ng-show="auth.browser!='MXS' && auth.rights < 0">View</a>
						<button type="button" ng-click="downloadUrl(prod.id, libType)" class="btn btn-block margin-0" ng-show="auth.browser!='MXS' && auth.rights >= 0" ng-class="{'btn-danger': prodError[prod.id], 'btn-primary': !prodError[prod.id]}">
							<span ng-show="!prodError[prod.id]">Download</span>
							<span ng-show="prodError[prod.id]==1">File Not Found!</span>
							<span ng-show="prodError[prod.id]==2">No Access!</span>
						</button></td>
					<td width="34px"><button type="button" class="btn btn-default custom-button-gray btn-block button-fixed button-heart"  ng-click="hideShowQuickFavortites(prod)">&nbsp;</button></td>

				</tr>
			</table>
		</div>
	</div>
</div>
