/* TEMPLATE CSS */


*, body {
	border-radius: 0 !important;
	outline: 0 !important;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

input, textarea {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.table > tbody > tr > td {
	vertical-align: middle;
}
h1, h2, h3, h4 {
	color: #888888;
}
h3 {
	font-size: 21px !important;
}

a {
	color: #8EC961;
}

a:hover {
	color: #66A338;	
}

a:focus {
	/*text-decoration: none !important;	*/
	color: #777 !important;	
}

.capitalize {
	text-transform: capitalize;
}

.text-center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
}

label {
	font-weight: normal;
}

.margin-left-20 {
	margin-left: 20px;	
}

.fontsize-13 {
	font-size: 13px;
}

.btn-primary {
    color: #fff;
    background-color: #7BC144;
    border-color: #6DB13B;
}

.first-capitalize {
	display:inline-block;
}
.first-capitalize:first-letter {
	text-transform: capitalize;
}

.btn.highlight {
	background-color: #7BC144;
}

.btn-primary:active, .btn-primary:active:focus, .btn-primary:focus, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #548A2E;
    border-color: #497728;
}

.btn-primary:hover {
    color: #fff;
    background-color: #609D34;
    border-color: #548A2E;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #8EC961 !important;
}

.nav-pills a:focus {
	color: #FFF;
}

.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background-color: #6A6A6A;
    border-color: #5C5C5C;
	color: #FFF;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #497728;
    border-color: #31511B;
}

.padding-left-5 {
	padding-left: 5px;
}

.size-20 {
	font-size: 20px !important;
}

.size-17 {
	font-size: 17px !important;
}

.size-15 {
	font-size: 15px !important;
}

.float-right {
	float: right;
}
.offset-center {
	left: 50%;
	transform: translateX(-50%);
}

.form-control:focus {
	border-color: #82C13A;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130, 193, 58, 0.6);
	box-shadow: none;
}
.form-control.warning {
	border-color: #cc6969;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(195, 60, 60, 0.3);
}
.signin {
	max-width: 300px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 20%;
}
.btn-native {
	color: #fff;
	background-color: #82C13A;
	border-color: #74AD34;
}

.side-menu {
	margin: 0;
	padding: 0;
	color: #888888;
}

.side-menu span {
	font-size: 17px;
}

.side-menu  li {
	position: relative;
	display: block;
	text-transform: capitalize;
}

.side-menu > li {
	border-bottom: 1px solid #DDDDDD;	
	display: block;
	padding: 15px;	
}

.side-menu > li > a {
	color: #8EC961;
	font-size: 19px;	
	text-decoration: none;
	text-transform: uppercase;
}

.side-menu li li > a {
	font-size: 17px;
	font-weight: 500;
}

.side-menu li li li a {
	font-size: 14px;
	display: block;
}

.side-menu > li > a:hover
 {
	color: #66A338;	
	text-decoration: none;
}

.side-menu li ul {
	list-style: none;
	padding-left: 0;
	margin-left: 10px;
	line-height: 25px;
}
.side-menu li li li {
	border-left: 0;
	padding-left: 0;
	padding-top: 12px;
}
.side-menu li li {
	padding-left: 24px;
	border-left: 1px dashed #eee;
	padding-top: 15px;
}
.side-menu .yes, .side-menu .no {
    font-size: 25px;
    color: #82C13A;
    position: absolute;
    margin-left: -49px;
    margin-top: -16px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    padding: 0px;
}
.side-menu .yes:before {
	content: '\002b';
	position: absolute;
	padding: 10px 17px;
}
.side-menu .no:before {
	content: '\2212';
	position: absolute;
	padding: 10px 17px;
}
.side-menu a {
	color: #888888;
	line-height: 130%;
}
.side-menu a.active {
	text-decoration: underline;
}

.admin-cat-hierarchy {
	border: 1px solid #eee;
	display: block;
	padding: 15px;
	overflow-y: auto;
	height: 300px;
	margin: 20px 0;
}
.admin-cat-hierarchy ul {
	list-style: none;
	padding-left: 0;
	margin-left: 10px;
	line-height: 25px;
}
.admin-cat-hierarchy li li {
	border-left: 0;
	padding-left: 0;
}
.admin-cat-hierarchy li {
	padding-left: 10px;
	border-left: 1px dashed #eee;
}
.admin-cat-hierarchy li.yes:before, .admin-cat-hierarchy li.no:before {
	font-size: 23px;
	color: #82C13A;
	position: absolute;
	margin-left: -17px;
	margin-top: 0;
	cursor: pointer;
	font-weight: 600;
}
.admin-cat-hierarchy li.yes:before {
	content: '\002b';
}
.admin-cat-hierarchy li.no:before {
	content: '\2212';
}
.admin-cat-hierarchy a {
	color: #888888;
	line-height: 130%;
}
.admin-cat-hierarchy a.active {
	text-decoration: underline;
}
.pointer {
	cursor: pointer;
}

.alert {
	z-index: 101;
}
.clear {
	clear: both;
}
.badge {
	border-radius: 10px !important;
	margin-left: 10px;
}
.drop-zone {
	border: 3px dashed #CFCFCF;
	color: #CFCFCF;
	position: relative;
}
.drop-zone input {
	width: 100%;
	height: 100px;
	opacity: 0.0;
}
.drop-zone span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 2px 0px #FFFFFF;
}
.header {
	background: #F5F5F5;
	border-bottom: 1px solid #DADADA;
	min-height: 80px;
	position: relative;
}
.header .glyphicon {
	color: #888888;
	font-size: 21px;
}
.nav-buttons > li > a {
	padding-top: 27px;
	padding-bottom: 27px;
	color: #888888;
	padding-left: 12px;
	padding-right: 12px;
}

.logo {
	height: 44px;
	margin: 16px 0;
	position: absolute;
	float: left;
}
.head-title {
	color: #888888;
	font-size: 20px;
	padding: 27px 0 0 115px;
	display: inline-block;
	vertical-align: top;
}
.nav-buttons {
	float: right;
}
.nav-buttons > li {
	display: inline-block;
}

@media(max-width: 550px) {
	.hidden-xxs {
		display: none !important;
	}
	
	.disable-hover-xxs:hover {
		position: relative !important;
		transform: none !important;
	}
	
	.visible-xxs {
		display: block !important;
	}
	
	.float-left-xxs {
		float: left !important;
	}
	.margin-left-minus-15-xxs {
		margin-left: -15px;
	}
	
	.col-xxs-offset-0 {
		margin-left: 0%;
	}
	.col-xxs-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-xxs-offset-3 {
		margin-left: 25%;
	}
	.col-xxs-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-xxs-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-xxs-offset-6 {
		margin-left: 50%;
	}
		
	.col-xxs-1 {
		width: 8.33333333%;
	}
	.col-xxs-2 {
		width: 16.66666667%;
	}
	.col-xxs-3 {
		width: 25%;
	}
	.col-xxs-4 {
		width: 33.33333333%;
	}
	.col-xxs-5 {
		width: 41.66666667%;	
	}
	.col-xxs-6 {
		width: 50%;
	}
	.col-xxs-7 {
		width: 58.33333333%;
	}
	.col-xxs-8 {
		width: 66.66666667%;
	}
	.col-xxs-9 {
		width: 75%;
	}
	.col-xxs-10 {
		width: 83.33333333%;
	}
	.col-xxs-11 {
		width: 91.66666667%;
	}
	.col-xxs-12 {
		width: 100% !important;
	}
}
@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block !important;
    }		
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none !important;
    }
}

@media (min-width: 1400px) {
	.container {
		width: 98%;
	}
	
	.visible-xlg {
		display: block !important;
	}
	
	.col-xlg-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-xlg-offset-3 {
		margin-left: 25%;
	}
	.col-xlg-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-xlg-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-xlg-offset-6 {
		margin-left: 50%;
	}
		
	.col-xlg-1 {
		width: 8.33333333%;
	}
	.col-xlg-2 {
		width: 16.66666667%;
	}
	.col-xlg-3 {
		width: 25%;
	}
	.col-xlg-4 {
		width: 33.33333333%;
	}
	.col-xlg-5 {
		width: 41.66666667%;	
	}
	.col-xlg-6 {
		width: 50%;
	}
	.col-xlg-7 {
		width: 58.33333333%;
	}
	.col-xlg-8 {
		width: 66.66666667%;
	}
	.col-xlg-9 {
		width: 75%;
	}
	.col-xlg-10 {
		width: 83.33333333%;
	}
	.col-xlg-11 {
		width: 91.66666667%;
	}
	.col-xlg-12 {
		width: 100%;
	}
}

@media (min-width: 1750px) {
	.container {
		width: 98%;
	}
	.col-xxlg-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-xxlg-offset-3 {
		margin-left: 25%;
	}
	.col-xxlg-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-xxlg-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-xxlg-offset-6 {
		margin-left: 50%;
	}
		
	.col-xxlg-1 {
		width: 8.33333333%;
	}
	.col-xxlg-2 {
		width: 16.66666667%;
	}
	.col-xxlg-3 {
		width: 25%;
	}
	.col-xxlg-4 {
		width: 33.33333333%;
	}
	.col-xxlg-5 {
		width: 41.66666667%;	
	}
	.col-xxlg-6 {
		width: 50%;
	}
	.col-xxlg-7 {
		width: 58.33333333%;
	}
	.col-xxlg-8 {
		width: 66.66666667%;
	}
	.col-xxlg-9 {
		width: 75%;
	}
	.col-xxlg-10 {
		width: 83.33333333%;
	}
	.col-xxlg-11 {
		width: 91.66666667%;
	}
	.col-xxlg-12 {
		width: 100%;
	}
}

.navbar-default {
	background-color: transparent !important;
}

.breadcrumbs a {
	color: #888888;		
}

.breadcrumbs {
	background-color: #F5F5F5;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DADADA;
	margin-bottom: 20px;
}
.breadcrumb {
	background-color: transparent;
	margin: 0;
	padding: 5px 0;
	text-transform: capitalize;	
}
.navbar-header {
	margin: 0 !important;
}
.padding-0-15 {
	padding: 0 15px;
}

.padding-5 {
	padding: 5px;
}

.padding-0 {
	padding: 0px;
}

.margin-0 {
	margin: 0 !important;
}

.text-gray {
	color: #888888;
}
.badge-admin {
	position: absolute;
	top: 39px;
	left: 13px;
	background-color: #D9534F;
}

.badge-menu {
	margin-left: 15px !important;
}

.border-right {
	border-right: 1px solid #EEEEEE;
}
.dashboard-card {
	height: 160px;
	padding: 10px;
	color: #FFFFFF;
	position: relative;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	margin: 10px 0;
}
.dashboard-card.blue {
	background: rgba(0,192,239,1.00);
}
.dashboard-card.green {
	background: rgba(0,166,90,1.00);
}
.dashboard-card.red {
	background: rgba(222,75,57,1.00);
}
.dashboard-card.yellow {
	background: rgba(243,156,17,1.00);
}
.dashboard-card .bottom {
	background: rgba(0,0,0,0.2);
	text-align: center;
	padding: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: -10px;
}
.dashboard-card a {
	color: #FFFFFF;
}
.dashboard-card .big-font {
	font-size: 3em;
	color: #FFF;
	font-weight: bold;
	font-family: monospace;
}
.dashboard-card .icon {
	color: rgba(0,0,0,0.2);
	font-size: 7em;
	position: absolute;
	top: 10px;
	right: 10px;
}
.canvasjs-chart-credit {
	display: none;
}
.pagination > li > a, .pagination > li > span {
	border: none;
	padding: 10px;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.clr {
	clear: both !important;
	display: inline-block;
}

.model-info tr td:first-child {
	font-weight: bold;
}

.model-info tr td {
	padding: 5px;
	border-bottom: 1px solid #EEEEEE;
}

.admin-preview {
	margin: 0 auto;
	border: 1px solid #EEEEEE;	
}

.alert-msg {
	position: fixed;
    bottom: 0;
    z-index: 1255;
    right: 0; 
	transition: all 0.4s linear;
}

.alert-msg > div {
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
    border: 4px solid #FFF;
}

.alert-msg .alert-success {
	color: #FFF;
    background-color: #56AF53;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(86, 175, 83, 0.6) !important;
}

.alert-msg .alert-danger {
	color: #FFF;
    background-color: #D1524C;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(209,82,76,0.6) !important;
}

.alert-msg .alert-warning {
	color: #FFF;
    background-color: #E69B18;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(230,155,24,0.6) !important;
}

.alert-msg .close {
	opacity: 1.0;
	text-shadow: none;
	padding: 10px;
    top: 8px;
    right: 21px;
    position: absolute;
}

.alert-msg .close:hover {
	opacity: 0.5;
	text-shadow: none;
	color: #FFF;
}

.alert-msg.ng-show {
	opacity: 1.0;
	margin-bottom: 0;
}

.alert-msg.ng-hide {
	opacity: 0.0;
	transition: all 0s linear;
	margin-bottom: -70px;
}

.margin-10-2 {
	margin: 10px 2px;	
}

.home-showcase ul {
	margin: 0 !important;
	padding: 0 !important;
}

.home-showcase li {
	margin: 0 !important;
	padding: 0 !important;
}

.home-showcase h3 {
	text-align: center;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.home-showcase h3 span {
	background-color: #FFFFFF;
	padding: 0 10px;
	text-transform:  uppercase;
}

.home-showcase .preview {
	position: relative;
}

.home-showcase .preview li {
	
}

.home-showcase a
{
	color: #888888;
}

.home-showcase h3 span:hover {
	
}

.home-showcase span:before {
	content: '';
    display: block;
    border-bottom: 1px solid #DDDDDD;
    position: absolute;
    height: 0;
    top: 50%;
    width: 100%;
	z-index: -1;
}

.home-showcase  ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.home-showcase  ul li dl {
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.home-showcase  ul li img {
	margin: 0 auto;
	display: block;
}

.swap-animation {
	margin: 0 auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
	transition: 1.2s linear all;
}

.swap-animation.ng-enter-active {
	opacity: 1.0;
}

.swap-animation.ng-leave-active {
	opacity: 0;
}

.side-menu-popup {
    position: fixed;
    height: 100%;
    background-color: #FFFFFF;
    border-right: 7px solid #7BC144;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
	padding-top: 15px;	
	padding-bottom: 15px;
	overflow: auto;
	transition: 0.5s linear all;
}

.side-menu-popup .close {
	position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    font-size: 25px;
}

.side-menu-popup.ng-show{
	margin-left: 0;
}

.side-menu-popup.ng-hide{
	margin-left: -101%;
}

.overlay {
	content: '';
	z-index: 995;
	position: fixed;
	background-color: rgba(0,0,0,0.90);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.2s linear all;
}

.overlay.ng-show {
	opacity: 1.0;
}

.overlay.ng-hide {
	opacity: 0;	
}

.flex {
	display: flex;
	justify-content: space-around;
}

.card {      
    min-width: 220px;
	width: 220px;
	min-height: 345px;
    margin: 10px auto;
	position: relative;
	padding: 0;
}

.card-content {
	background-color: #F5F5F5;
    padding: 10px;
    min-height: 345px;
    transition: 0.15s all linear;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.card-title {
	min-height: 40px;
}

.card-content:hover {
	box-shadow: inset 0px 0px 0px 1px rgba(123,193,68, 0.35);	
    background-color: #E6F3DC;
    box-sizing: border-box;
}


.card-content:hover {
	display: block;
}


.custom-button-gray {
	background-color: #DADADA;
	color: #FFF;
}

.custom-button-gray span {
	color: #FFF;
}

.custom-button span, 
.custom-button-gray span
 {
	position: absolute;
    font-size: 21px;
    margin: auto;
    left: 0;
	right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.button-fixed { 
    width: 34px;
    height: 34px;
    border: none;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}


.button-fixed.disabled {
	opacity: 0.35;
}

.button-fixed.disabled:hover,
.button-fixed.disabled:focus
{
	background-color: #CCC;
}

.button-zoom,
.button-zoom:active
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/zoomin.svg);
    background-size: 60%;
}

.button-admin-edit,
.button-admin-edit:active
{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/edit.svg);
    background-size: 60%;
}

.button-admin-pending,
.button-admin-pending:active
{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/pending.svg);
    background-size: 73%;
}

.button-heart, 
.button-heart:active
{
    background-image: url(../img/heart.svg);
    background-size: 60%;
}

.big-preview {
	position: fixed;
	z-index: 996;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
	transition: 0.2s linear all;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.big-preview.ng-show {
	opacity: 1;
	transition-delay: 0s !important;
	transition: 0s;
}

.big-preview.ng-hide {
	opacity: 0;	
	transition-delay: 0s !important;
	transition: 0s;
}

.width-80 {
	width: 80%;
}

.width-100 {
	width: 100%;	
}

.width-20 {
	width: 20%;
}

.width-60px {
	width: 60px;
}

.width-40px {
	width: 40px;
}

.margin-bottom-10 {
	margin-bottom: 10px;	
}

.margin-bottom-5 {
	margin-bottom: 5px;	
}

.relative {
	position: relative;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #7BC144;
    border: 1px solid #6DB13B;
}

.pagination > li > a, .pagination > li > span {
    color: #82C13A;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #609D34;
    background-color: #eee;
    border-color: #ddd;
}

.fast-result {
    position: absolute;
    left: 0;
    top: 45px;
    background-color: #FFF;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    border-top: none;
    z-index: 801;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fast-result > a {
    padding: 8px 16px;
	display: block;
	text-transform: capitalize;
	text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.fast-result a:focus,
.fast-result .active 
{
	background-color: #F8F8F8;
}

.fast-result img {
	margin-right: 14px;
}

.search-form:focus
{
	border-color: #CCC !important;
}



.search-button {
	width: 50px !important;
	margin-left: 0 !important;
	border-left: none;
}

/* PROD GALLERY */

.margin-auto {
	margin: auto;
}

.prod-gallery {
	margin: 0;
	padding: 0;
	text-align: center;	
}

.prod-gallery li {
	display: inline-block;
	padding: 0;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #EEE;
	opacity: 0.5;
	cursor: pointer;
	margin-right: 5px;
	transition: all 0.3s linear;	
}

.prod-gallery-frame {
	border: 1px solid #EEE;
	transition: all 0.3s linear;
}

.prod-gallery-frame img {
	opacity: 0.0;
}

.prod-gallery-frame img.show {
	opacity: 1.0;
}

.prod-gallery-frame:hover {
	border: 1px solid #8EC961;
}

.prod-gallery li.active,
.prod-gallery li:hover
{
	opacity: 1.0;
	border: 1px solid #8EC961;	
}

/* PROD INFO */

.button-heart,
.button-heart:active
{
    background-image: url(../img/heart.svg);
    background-size: 60%;
}

.button-rating,
.button-rating:active
{
    background-image: url(../img/rating.svg);
    background-size: 68%;
}

.button-download,
.button-download:active
{
    background-image: url(../img/download.svg);
    background-size: 50%;
}

.button-report,
.button-report:active
{
    background-image: url(../img/report.svg);
    background-size: 60%;
}

.button-edit,
.button-edit:active
{
	background-image: url(../img/edit.svg);
    background-size: 60%;
}

.decription {
	margin: 0;
	padding: 0;
	background-color: transparent;
	width: 100%;
	display: block;
	border: none;
	font-family: inherit;
    white-space: pre-wrap;
	word-break: break-word;
}

/* LIGHTBOX */
.light-box {
	position: fixed;
	background: rgba(0,0,0,0.9);
	z-index: 1253;
	opacity: 1.0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all linear 0.3s;
}
.light-box.ng-hide {
	opacity: 0;
	transition: all linear 0s;
}
.light-box img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	transform: translate(-50%, -50%);
	transition: all linear 0.3s;
	transition-delay: 0.15s;
	cursor: pointer;
}
.light-box .prod-gallery {
	position: absolute;
	margin: 0 auto;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0.0;
}
.light-box .prod-gallery li {
	width: 60px;
	height: 60px;
	padding-top: 0;
}
.light-box span {
	font-size: 35px;
	color: #FFF;
	cursor: pointer;
	opacity: 0.5;
	text-shadow: #000 0 3px 0;
}
.light-box-close{
	padding: 20px;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 1000;
}

.light-box .deploy {
	opacity: 1.0;
	transition: all 1s;
	transition-delay: 0.5s;	
}

.light-box .close {
	display: block;
	width: 100%;
	height: 100%;
	bottom: 0;
	position: fixed;
	cursor: pointer;
}

.light-box span:hover {
	opacity: 1;
}
.light-box-control {
	position: absolute !important;
	top: 50% !important;
	transform: translate(0, -50%);
	font-size: 35px !important;
	padding: 300px 20px;
	display: table;
	z-index: 1000;
}
.light-box-control.rarr {
	right: 0px;
}
.light-box-control.larr {
	left: 0px;
}

/* COMMENTS */

.comment {
	border: 1px solid #DDDDDD;
	margin-top: 10px;
	padding: 10px;
}

.comment.bug {
	border: 1px solid #D1524C;
	background-color: #FCF3F3;
}

.comment.bug a {
	color: #D1524C;	
}

.comment.bug a:hover {
	color: #BB3730;	
}

.icon-bug
{ 
	height: 14px;
	margin-right: 5px;
}

.comment .date {
	float: right;
}

.comment .txt {
	margin-top: 10px;
}

.comment pre {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	font-family: inherit;
	display: inline-block;
}

/* REPORT */

.feedback
{
	background-color: #FFF;
    padding: 20px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PROFILE */

.profile-table td {
	padding: 5px;
}

.profile-avatar {
	width: 100px;
	height: 100px;
	border: 1px solid #E6E6E6;
}

.comment-avatar {
	margin-right: 20px;
	height: 60px;
	width: 60px;
	border: 1px solid #E6E6E6;
}

/* FAV */

.favorite {
	width: 180px;
	border: 1px solid #DDDDDD;
    box-sizing: content-box;
	margin: 10px;
}

.favorite-images {
	height: 180px;
	width: 180px;	
	text-align: left;
	display: block;
}

.favorite-images span {
	width: 60px;
	height: 60px;
	display: table-cell;
	float: left;
	margin: 0;
	padding: 0;	
    border-left: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.favorite-images span:nth-child(1),
.favorite-images span:nth-child(4),
.favorite-images span:nth-child(7){
	border-left: none;
}

.favorite-images span:nth-child(7),
.favorite-images span:nth-child(8),
.favorite-images span:nth-child(9){
	border-bottom: none;
}

.favorite-title {
    border-top: 1px solid #DDD;
    padding: 10px 5px;
}

.button-fav-delete,
.button-fav-delete:active
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img/delete.svg);
    background-size: 60%;
	display: none;
}

.button-fav-item-delete,
.button-fav-item-delete:active
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img/delete.svg);
    background-size: 60%;
}

.favorite:hover .button-fav-delete {
	display: block;
}

.button-fav-edit,
.button-fav-edit:active
{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/edit.svg);
    background-size: 60%;
	display: none;
}

.favorite:hover .button-fav-edit {
	display: block;
}

.quick-fav {
	background-color: #FFF;
    padding: 20px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quick-fav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #888;
}

.quick-fav span {
	font-size: inherit;
    color: inherit;
    opacity: inherit;
    text-shadow: none;
}

.quick-fav label {
	display: inline-block;
}

.quick-fav-item {
	display: block;
}

.quick-fav-item:hover .quick-fav-view {
	display: inline-block;
	margin-left: 20px;
}

.quick-fav-view {
	display: none;
}

.quick-fav h3 {
	margin-top: 0;
}


.favorite-share {
	background-color: #FFF !important;
}

