/* TEMPLARE CSS */


*, body {
	border-radius: 0 !important;
	outline: 0 !important;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

input, textarea {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.inline-block {
	display: inline-block;
}

.table > tbody > tr > td {
	vertical-align: middle;
	position: relative;
}
h1, h2, h3, h4 {
	color: #888888;
}
.padding-left-5 {
	padding-left: 5px;
}

.size-20 {
	font-size: 20px !important;
}

.size-17 {
	font-size: 17px !important;
}

.size-15 {
	font-size: 15px !important;
}

.float-right {
	float: right;
}

.margin-top-40 {
	margin-top: 40px;
}

.form-control.warning {
	border-color: #cc6969;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(195, 60, 60, 0.3);
}
.signin {
	max-width: 300px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 20%;
}
.btn-native {
	color: #fff;
	background-color: #82C13A;
	border-color: #74AD34;
}

.icon-bug
{ 
	height: 14px;
	margin-right: 2px;
}

.text-bug {
	color: #d9534f;
}

.admin-cat-hierarchy {
	border: 1px solid #eee;
	display: block;
	padding: 15px;
	overflow-y: auto;
	height: 600px;
	margin: 20px 0;
}
.admin-cat-hierarchy ul {
	list-style: none;
	padding-left: 0;
	margin-left: 10px;
	line-height: 25px;
}
.admin-cat-hierarchy li li {
	border-left: 0;
	padding-left: 0;
}
.admin-cat-hierarchy li {
	padding-left: 10px;
	border-left: 1px dashed #eee;
}
.admin-cat-hierarchy li.yes:before, .admin-cat-hierarchy li.no:before {
	font-size: 23px;
	color: #82C13A;
	position: absolute;
	margin-left: -17px;
	margin-top: 0;
	cursor: pointer;
	font-weight: 600;
}
.admin-cat-hierarchy li.yes:before {
	content: '\002b';
}
.admin-cat-hierarchy li.no:before {
	content: '\2212';
}
.admin-cat-hierarchy a {
	color: #888888;
	line-height: 130%;
}
.admin-cat-hierarchy a.active {
	text-decoration: underline;
}
.pointer {
	cursor: pointer;
}
.overlay {
	content: '';
	z-index: 995;
	position: fixed;
	background-color: rgba(0,0,0,0.90);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.2s linear all;
}

.overlay.ng-show {
	opacity: 1.0;
}

.overlay.ng-hide {
	transition: 0.0s linear all;
	opacity: 0;	
}
.lightbox {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 25px;
	background: #FFF;
	padding: 30px;
	z-index: 110;
	padding-top: 10px;
}
.lightbox .lightbox-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	content: '';
	cursor: pointer;
}
.lightbox:before {
	position: absolute;
	top: -13px;
	right: 10px;
	content: '×';
	font-size: 57px;
	color: #333333;
	display: block;
	cursor: pointer;
}
.alert {
	z-index: 101;
}
.clear {
	clear: both;
}
.badge {
	border-radius: 10px !important;
	margin-left: 10px;
}
.drop-zone {
	border: 3px dashed #CFCFCF;
	color: #CFCFCF;
	position: relative;
}
.drop-zone input {
	width: 100%;
	height: 100px;
	opacity: 0.0;
}
.drop-zone span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 2px 0px #FFFFFF;
}
.header {
	background: #F5F5F5;
	border-bottom: 1px solid #DADADA;
	min-height: 80px;
	position: relative;
}
.header .glyphicon {
	color: #888888;
	font-size: 21px;
}
.nav-buttons > li > a {
	padding-top: 27px;
	padding-bottom: 27px;
	color: #888888;
}
.logo {
	height: 44px;
	margin: 16px 0;
	position: absolute;
	float: left;
}
.head-title {
	color: #888888;
	font-size: 20px;
	padding: 27px 0 0 115px;
	display: inline-block;
	vertical-align: top;
}
.nav-buttons {
	float: right;
}
.nav-buttons > li {
	display: inline-block;
}

@media(max-width: 500px) {
	.hidden-xxs {
		display: none !important;
	}
	.float-left-xxs {
		float: left !important;
	}
	.margin-left-minus-15-xxs {
		margin-left: -15px;
	}
}
@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block !important;
    }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none !important;
    }
}

@media screen and (max-width: 990px) {
    .visible-sm-inline {
        display: inline-block !important;
    }
}

.navbar-default {
	background-color: transparent !important;
}

.breadcrumbs a {
	color: #888888;
}

.breadcrumbs {
	background-color: #F5F5F5;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DADADA;
	margin-bottom: 20px;
}
.breadcrumb {
	background-color: transparent;
	margin: 0;
	padding: 5px 0;
}
.navbar-header {
	margin: 0 !important;
}
.padding-0-15 {
	padding: 0 15px;
}

.padding-5 {
	padding: 5px;
}

.text-gray {
	color: #888888;
}
.badge-admin {
	position: absolute;
	top: 39px;
	left: 13px;
	background-color: #D9534F;
}

.badge-menu {
	margin-left: 15px !important;
}

.border-right {
	border-right: 1px solid #EEEEEE;
}
.dashboard-card {
	height: 160px;
	padding: 10px;
	color: #FFFFFF;
	position: relative;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	margin: 10px 0;
}
.dashboard-card.blue {
	background: rgba(0,192,239,1.00);
}
.dashboard-card.green {
	background: rgba(0,166,90,1.00);
}
.dashboard-card.red {
	background: rgba(222,75,57,1.00);
}
.dashboard-card.yellow {
	background: rgba(243,156,17,1.00);
}
.dashboard-card.color2 {
	background: rgba(158,212,28,1);
}

.dashboard-card.color3 {
	background: rgba(128,100,162,1);
}

.dashboard-card.color4 {
	background: rgba(76,183,196,1);
}

.dashboard-card.color5 {
	background: rgba(251,212,46,1);
}

.dashboard-card .bottom {
	background: rgba(0,0,0,0.2);
	text-align: center;
	padding: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: -10px;
}
.dashboard-card a {
	color: #FFFFFF;
}
.dashboard-card .big-font {
	font-size: 3em;
	color: #FFF;
	font-weight: bold;
	font-family: monospace;
}
.dashboard-card .icon {
	color: rgba(0,0,0,0.2);
	font-size: 7em;
	position: absolute;
	top: 10px;
	right: 10px;
}
.canvasjs-chart-credit {
	display: none;
}
.pagination > li > a, .pagination > li > span {
	border: none;
	padding: 10px;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #000;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.clr {
	clear: both !important;
	display: inline-block;
}

.model-info tr td:first-child {
	font-weight: bold;
}

.model-info tr td {
	padding: 5px;
	border-bottom: 1px solid #EEEEEE;
}

.admin-preview {
	margin: 0 auto;
	border: 1px solid #EEEEEE;	
	max-width: 600px;
	background-size: cover;
	position: relative;
	width: 100%;
}


.admin-preview:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.alert-msg {
	position: fixed;
    bottom: 0;
    z-index: 1255;
    right: 0; 
	transition: all 0.4s linear;
}

.alert-msg > div {
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
    border: 4px solid #FFF;
}

.alert-msg .alert-success {
	color: #FFF;
    background-color: #56AF53;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(86, 175, 83, 0.6) !important;
}

.alert-msg .alert-danger {
	color: #FFF;
    background-color: #D1524C;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(209,82,76,0.6) !important;
}

.alert-msg .alert-warning {
	color: #FFF;
    background-color: #E69B18;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(230,155,24,0.6) !important;
}

.alert-msg .close {
	opacity: 1.0;
	text-shadow: none;
	padding: 10px;
    top: 8px;
    right: 21px;
    position: absolute;
}

.alert-msg .close:hover {
	opacity: 0.5;
	text-shadow: none;
	color: #FFF;
}

.alert-msg.ng-show {
	opacity: 1.0;
	margin-bottom: 0;
}

.alert-msg.ng-hide {
	opacity: 0.0;
	transition: all 0s linear;
	margin-bottom: -70px;
}

/* MESSAGE */

.message {
	border: 1px solid #DDD;
	padding: 10px;
	margin: 10px 0; 
	min-height: 220px;
}

@keyframes blinker { 
    0% { opacity: 1.0; } 
    50% { opacity: 0.22; } 
    100% { opacity: 1.0; } 
}

.text-blink {
	animation: blinker 1s infinite;
}


/* MENU */

.side-menu-popup {
    position: fixed;
    height: 100%;
    background-color: #FFFFFF;
    border-right: 7px solid #337AB7;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
	padding-top: 15px;	
	padding-bottom: 15px;
	overflow: auto;
	transition: 0.5s linear all;
}

.side-menu-popup .close {
	position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    font-size: 25px;
}

.side-menu-popup.ng-show{
	margin-left: 0;
}

.side-menu-popup.ng-hide{
	margin-left: -101%;
	transition: 0s linear all;
}

.btn-xxs, .btn-group-xxs > .btn {
	padding: 0px 3px;
	font-size: 10px;
	line-height: 1.5;
}

.label-simple {
	background-color: #FFF;
	border: 1px solid #CCC !important;
	color: #333 !important;
	font-weight: normal;
}

ul.legend {
	margin: 0;
	padding: 0;
	margin-top: 10px;	
}

.legend li {
	/*display: inline-block;*/
	list-style: none;
	margin: 0 5px;
	color: #787878;
	font-size: 12px;
	margin: 4px 0;
	padding-left: 47px;
	position: relative;
}

.legend li .color {
	width: 40px;
	height: 13px;
	margin-right: 5px;
	position: absolute;
	left: 0;
	top: 1px;
}

.href-clear, .href-clear:hover, .href-clear:focus {
	text-decoration: none !important;
	outline: none !important;
}

.is3d-small {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	left: 10px;
	top: 10px;
	background: url('/img/3d2.svg') 50% 50% no-repeat;
	background-size: contain;
}

/* PROD GALLERY */

.margin-auto {
	margin: auto;
}

.prod-gallery {
	margin: 0;
	padding: 0;
	text-align: center;	
}

.prod-gallery li {
	display: inline-block;
	padding: 0;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #EEE;
	opacity: 0.5;
	cursor: pointer;
	margin-right: 5px;
	transition: all 0.3s linear;
	background-size: cover;
}

.prod-gallery-frame {
	border: 1px solid #EEE;
	transition: all 0.3s linear;
	position: relative;
}

.prod-gallery-frame img {
	opacity: 0.0;
}

.prod-gallery-frame img.show {
	opacity: 1.0;
}

.prod-gallery-frame:hover {
	border: 1px solid #888;
}

.prod-gallery li.active,
.prod-gallery li:hover
{
	opacity: 1.0;
	border: 1px solid #888;	
}

.btn-toggle .btn-xs {
	min-width: 40px;
}

.margin-left-15 {
	margin-left: 15px;
}

.alert-warning a {
	color: #845400;
}

.loader-container {
	position: relative;
	padding-left: 30px;
}

.loader {
    border: 4px solid #DBDBDB;
    border-top: 4px solid #337ab7;
    border-radius: 50% !important;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
	position: absolute;
	margin-left: -30px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}