<ul class="nav nav-pills nav-stacked">
	<li ng-class="{active: section=='/dashboard'}"><a href="#/dashboard/1">Dashboard</a></li>
	<li ng-class="{active: section=='/category'}"><a href="#/category" >Libraries</a></li>
	<li ng-class="{active: section=='/models'}"><a href="#/models/1" >Models</a></li>
	<li ng-class="{active: section=='/textures'}"><a href="#/textures/1" >Textures</a></li>
	<li ng-class="{active: section=='/tags'}" ng-show="auth.rights==2"><a href="#/tags/1" >Tags</a></li>
	<li ng-class="{active: section=='/comments'}" ng-show="auth.rights==2"><a href="#/comments/1" >Comments</a></li>
	<li ng-class="{active: section=='/upload'}"><a href="#/upload" >Upload</a></li>
	<li ng-class="{active: section=='/users'}" ng-show="auth.rights==2"><a href="#/users/1" >Users</a></li>
	<li ng-class="{active: section=='/settings'}" ng-show="auth.rights==2"><a href="#/settings" >Settings</a></li>
	<li ng-class="{active: section=='/emailing'}" ng-show="auth.rights==2"><a href="#/emailing" >Emailing</a></li>
</ul>